
<form id="all_report_form" class="form-search" action="/form_submitted">

				<%#= hidden_field_tag "report_type", 'CBP' %>
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<div class="col-xs-3 col-sm-3">
			<label for="id-date-range-picker-1">Start Date</label>
			<div class="input-group">
				<span class="input-group-addon">
					<i class="icon-calendar bigger-110"></i>
				</span>
				<input id='start_date' class="form-control date-picker" id="start_date" type="text" data-date-format="dd-mm-yyyy" />
			</div>
		</div>
	
		<div class="col-xs-3 col-sm-3">
	<label for="id-date-range-picker-1">End Date</label>
			<div class="input-group">
				<input id='end_date' class="form-control date-picker" id="end_date" type="text" data-date-format="dd-mm-yyyy" />
				<span class="input-group-addon">
					<i class="icon-calendar bigger-110"></i>
				</span>
			</div>
		</div>

		<div class="col-xs-3 col-sm-3">
	<label for="id-date-range-picker-1">&nbsp;</label>
			<br/>
			<button id="all_report_btn" class="btn btn-pink btn-sm report" type="button">
				<i class="icon-ok bigger-110"></i>
				Submit
			</button>
		</div>
		<input type="submit" style="display:none" />
</form>

<div class="all_report" style="clear:both"></div>
<script>
$( "#all_report_btn" ).click(function() {
$( "#all_report_form" ).submit();
});

$( "form" ).submit(function( event ) {
	$('.all_report').html('<br/><br/><center><img src="/assets/loader.gif"></center>');
	$.post('/patient_details/all_report', { start: $("#start_date" ).val(), end: $("#end_date" ).val(), authenticity_token: $("#authenticity_token" ).val()}, function(data){
			$('.all_report').html(data);
	});
	event.preventDefault();
});
</script>
<script>
  
  $( "#start_date" ).datepicker({
    dateFormat: 'yy-mm-dd',
    showOtherMonths: true,
    selectOtherMonths: false
    //isRTL:true,
  });
  $( "#end_date" ).datepicker({
    dateFormat: 'yy-mm-dd',
    showOtherMonths: true,
    selectOtherMonths: false
    //isRTL:true,
  });
  </script>